.list input.big-input {
  font-size: 1.2em;
  height: 2em;
}
.centered {
  display: block;
  margin: 0 auto;
}
.centered-title {
  text-align: center;
}
.shoot-title {
  padding-top: 30px;
  padding-bottom: 80px;
}
